[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
WorkingDirectory={path to repo}
ExecStart=/usr/bin/uwsgi --ini gee-uwsgi.ini
#RuntimeDirectory=uwsgi
Restart=always
RestartSec=30
KillSignal=SIGQUIT
Type=Forking
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
